<h1>{{name}}</h1>

<h2>Endpoint</h2>
<p><strong>{{{ method }}} {{{ path }}}</strong></p>

{{#request}}
<h2>Request{{#contentType}} ({{{contentType}}}){{/contentType}}</h2>

{{#headers?}}
<h3>Headers</h3>
<ul>
{{#headers}}
<li>{{{key}}}: {{{value}}}</li>
{{/headers}}
</ul>
{{/headers?}}

{{#body?}}
<h3>Body</h3>
<code>
{{{body}}}
</code>
{{/body?}}
{{/request}}

{{#response}}
<h2>Response {{#contentType}} ({{{contentType}}}){{/contentType}}</h2>

{{#headers?}}
<h3>Headers</h3>

<ul>
{{#headers}}
<li>{{{key}}}: {{{value}}}</li>
{{/headers}}
</ul>
{{/headers?}}
{{#body?}}
<h3>Body</h3>
<code>
{{{body}}}
</code>
{{/body?}}
{{/response}}